



.root {
    display: flex;
    justify-content: center;
}

.inner {
    width: 95%;
}

.title {
    text-align: center;
    font-size: 18px;
}


.form {
    margin-top: 40px;
    padding: 20px 40px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    background: var(--secondary-background-color);
    border-radius: 10px;
}

.formItem {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;

  
}

.submitBtnHolder {
    display: flex;
    justify-content: flex-end;
}