


.inner {
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    cursor: pointer;
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
    border-top: 4px solid black;
    border-bottom: 4px solid black;
}

.account {
    cursor: pointer;
     svg {
        width: 35px;
        height: auto;
     }
}