


.root {
    background-color: var(--header-background);
    color: var(--font-color);
}




.inner {
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.logo {
    cursor: pointer;
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
    border-top: 4px solid var(--font-color);
    border-bottom: 4px solid var(--font-color);
}

.icons {
    display: flex;
    align-items: center;
    gap: 10px;
}

.themeToggle {
    cursor: pointer;
    svg {
        height: 35px;
        width: 35px;
    }
}