


.root {
    cursor: pointer;
    svg {
       width: 35px;
       height: auto;
    }
}




.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px 40px;
}

.formItem {
    display: flex;
    flex-direction: column;
    gap: 10px;
    
}

.submitBtn {
    margin-top: 10px;
    align-self: flex-end;
}