@import '../styles/reset';
@import '../styles/mixins/breakpoints';
@import '../styles/variables/_light_theme';
@import '../styles/variables/_dark_theme';
@import '../styles//ant-design.scss';




body {
    background: var(--primary-background-color);
}

main {
    min-height: 100vh;
}

.container {
    padding: 0 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.template {
    display: flex;
}



.main__content {
    padding-top: 20px;
   
}


@include breakpoint(md) {
    .main__navbar {
        display: block;
        flex-basis: 20%;
    }

    .main__content {
        flex-basis: 80%;
    }
}

@include breakpoint(xl) {
    container {
        padding: 0;
    }
}

h1 {
    font-size: 18px;
}


