@import '../styles/reset';
@import '../styles/mixins/breakpoints';
@import '../styles/variables/theme';




body {
    background: var(--body-background);
}

.container {
    padding: 0 20px;
    max-width: 1200px;
    margin: 0 auto;
}


@include breakpoint(xl) {
    container {
        padding: 0;
    }
}