


.root {
    height: 100%;
    padding-top: 10px;

    :global {
        .ant-badge {
            font-size: 18px;
        }
        .ant-scroll-number {
            top: 10px !important;
            right: -20px !important;
        }
    }
}


.list {
    display: flex;
    flex-direction: column;

    li {
   
        a {
            cursor: pointer;
            display: flex;
            padding: 10px 20px;
            align-items: center;
            font-size: 18px;
            border-radius: 10px;
            &:hover {
                background: var(--navbar-background-hover);
            }
        }
       
    }
}