@import './../../../shared/styles/mixins/breakpoints';



.root {
    width: 100%;
}


.inner {
    width:100%;
    display: flex;
    justify-content: center;
}


.postsList {
    width: 100%;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.post {
    width: 90%;
    padding: 20px;
    border-radius: 10px;
    background: var(--secondary-background-color);
}

.imageHolder {
        margin-top: 10px;
        width: 100%;
        height: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
    img {
        width: 100% !important;
        height: auto !important;
    }
}

.text {
    font-size: 16px;
    line-height: 20px;
    margin-top: 10px;
}

.post_footer {
    margin-top: 20px;
   display: flex;
   justify-content: space-between;
}

@include breakpoint(md) {

   


    .post {
        width: 70%;
    }

    .imageHolder {
        height: 200px;
    }
}