$breakpoints: (
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
    2xl: 1400px,
    3xl: 1600px
);

@mixin breakpoint($size) {
    $sizeValue: map-get(
        $map: $breakpoints,
        $key: $size
    );
    @media (min-width: $sizeValue) {
        @content;
    }
}
